@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
    min-height: 100vh;
    width: 100%;
    display: flex;
    font-family: 'Montserrat', sans-serif;
}

.container{
    background-color: #fff;
    width: 90%;
    margin: auto;
    max-width: 400px;
    border-radius: 1em;
    padding: 3.5em 1.5em;
}
.descarga{
    width: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: 100%;
}
.titulo{
    text-align: center;
    font-size: 1.9rem;
    margin-bottom: .4em;
}
.boton-descarga{
    padding: .8em 1em;
    margin: auto;
}
.boton-descarga a{
    background-color: #e0c3fc;
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 1em;
    outline: none;
    border: 1px solid #bbb0b0;
    border-radius: 0.2em;
    text-decoration: none;
}